.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .main {
  width: 360px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
}

.container .main header {
  color: #fff;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
  background-color: #108ee9;
}

.container .main .login {
  margin-top: 12px;
  padding: 24px;
}

.container .main .login .btnLogin {
  width: 100%;
}
